.information-wrapper {
    width: 850px;
    background-color: #f2f2f2;
    padding: 40px 30px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.ava img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.information-wrapper a {
    text-decoration: none;
    color: #3f444b;
    font-size: 20px;
}

.information-wrapper h3 {
    color: var(--color--main);
}

.action {
    position: relative;
}

.action .fa-angle-left{
    position: absolute;
    top: 18px;
    right: 350px;
}

.action .fa-angle-right{
    position: absolute;
    top: 18px;
    left: 350px;
}
.action a{
    text-decoration: none;
}